CrYBaBy/Library/Artifacts/
CrYBaBy/Library/
CrYBaBy/Logs/Packages-Update.log
CrYBaBy/Logs/shadercompiler-UnityShaderCompiler.exe0.log
CrYBaBy/Packages/manifest.json
CrYBaBy/Packages/packages-lock.json
CrYBaBy/Temp/UnityLockfile
CrYBaBy/Temp/workerlic
CrYBaBy/UserSettings/EditorUserSettings.asset
CrYBaBy/Logs/AssetImportWorker0.log
CrYBaBy/Logs/shadercompiler-AssetImportWorker0.log
CrYBaBy/Logs/AssetImportWorker1.log
CrYBaBy/Logs/shadercompiler-UnityShaderCompiler.exe1.log
CrYBaBy/Logs/shadercompiler-UnityShaderCompiler.exe2.log
